
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: action/checkout@v3
      - name: "Testing GitHub"
        run: echo "Hello from GitHub Actions"
      - name: "login docker hub"
        run: docker login --username ${{ secrets.GITHUB_TOKEN}} --password ${{secrets.GITHUB_TOKEN}}
      - name: "build image"
        run: docker build -t 


